<% if (theme.boardcast.enable) { %>
    <div class="columns">
        <div class="column is-8 is-offset-2">
            <article class="message is-<%- theme.boardcast.color %>">
                <div class="message-body">
                    <%= theme.boardcast.message %>
                </div>
            </article>
        </div>
    </div>
<% } %>
<% page.posts.each(function (post) { %>
    <div class="columns">
        <div class="column is-8 is-offset-2">
            <div class="card entry">
                <!-- Post thumbnail with lazayload support -->
                <% if (post.thumbnail) { %>
                    <div class="card-iamge">
                        <figure class="image is-16by9">
                            <% if (post.thumbnail) { %> 
                                <% if (theme.lazyload === true) { %>
                                    <img class="lazy" data-src="<%= post.thumbnail %>" />
                                <% } else { %>
                                    <img src="<%= post.thumbnail %>" />
                                <% } %>
                            <% } %>
                        </figure>
                    </div>
                <% } %>

                <div class="card-content">
                    
                    <!-- Post title -->
                    <p class="title is-4">
                        <%= post.title %>
                    </p>

                    <!-- Post meta info -->
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">

                                <!-- Podcast duration with post date -->
                                <% if (post.podcast && theme.podcast) { %>
                                    <div class="field is-grouped is-grouped-multiline">
                                        <div class="control">
                                            <div class="tags has-addons">
                                                <%
                                                    const duration = post.podcast.duration;
                                                    const hour = Math.floor(duration / 3600);
                                                    const minute = Math.floor((duration / 60) % 60);
                                                    const second = Math.floor(duration % 60);
                                                    const viewstr = hour + ':' + String(minute).padStart(2, '0') + ':' + String(second).padStart(2, '0');
                                                %>
                                                <span class="tag is-danger">
                                                    <i class="fa fa-microphone"></i>
                                                </span>
                                                <span class="tag">
                                                    <%- viewstr %>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="control">
                                            <div class="tags has-addons">
                                                <span class="tag is-link">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <span class="tag">
                                                    <%- date(post.date, theme.timeformat) %>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                <% } else { %>
                                    <div class="tags has-addons">
                                        <span class="tag is-link">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <span class="tag">
                                            <%- date(post.date, theme.timeformat) %>
                                        </span>
                                    </div>
                                <% } %> 
                            </div>
                            
                            <!-- Post tags -->
                            <div class="level-item">
                                <% if (post.tags) { %>
                                    <div class="tags">
                                        <% (post.tags).forEach(function(item) { %>
                                            <span class="tag">
                                                # <%= item.name %>
                                            </span>
                                        <% }); %>
                                    </div>
                                <% } %>
                            </div>

                        </div>
                    </div>

                    <!-- Post content or excerpt -->
                    <section class="content has-text-weight-light is-size-6">
                        <% if (post.excerpt) { %>
                            <p><%- post.excerpt %></p>
                        <% } else { %>
                            <p><%- post.content %></p>
                        <% } %>
                    </section>
                </div>

                <div class="card-footer">
                    <a href="<%- url_for(post.path) %>" class="card-footer-item has-text-danger has-text-weight-medium is-uppercase">
                        <% if (post.podcast && theme.podcast) { %>
                            <%- __("listen") %>
                        <% } else { %> 
                            <%- __("read") %>
                        <% } %> 
                    </a>
                </div>

            </div>
        </div>
    </div>
<% }); %>

<!-- Page navigation -->
<% if (page.prev || page.next) { %>
    <div class="columns pagination-bar">
        <div class="column is-8 is-offset-2">
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                <% if (page.prev) { %>
                    <a class="button auto-dark" href="<%- url_for(page.prev_link) %>"><%- __("prev") %></a>
                <% } else { %>
                    <a class="button is-disabled auto-dark" disabled><%- __("prev") %></a>
                <% } %> 
                <% if (page.next) { %>
                    <a class="button auto-dark" href="<%- url_for(page.next_link) %>"><%- __("next") %></a>
                <% } else { %>
                    <a class="button is-disabled auto-dark" disabled><%- __("next") %></a>
                <% } %> 
            </nav>
        </div>
    </div>
<% } %>
