<!DOCTYPE html>
<html lang="<%= config.language %> ">
    <%- partial('_partial/head') %>
    <body>
        <%- partial('_partial/header') %>
        <div class="wrapper">
            <%- body %>
        </div>
        <%- partial('partial/footer') %> 
    </body>
    <%- partial('_partial/scripts') %>
</html>