<div class="columns">
    <div class="column is-8 is-offset-2">
        <div class="card">
            <% if (page.thumbnail) { %>
                <div class="card-iamge">
                    <figure class="image is-16by9">
                        <% if (theme.lazyload === true) { %>
                            <img class="lazy" data-src="<%= page.thumbnail %>" />
                        <% } else { %>
                            <img src="<%= page.thumbnail %>" />
                        <% } %>
                    </figure>
                </div>
            <% } %>
            <div class="card-content post-card">
                <h2 class="title has-text-centered">
                    <%= page.title %>
                </h2>
                <% if (page.podcast) { %>
                    <div class="post-podcast-player"></div>
                    <script>
                        window.addEventListener("load", () => {
                            const player = new Shikwasa({
                                container: () => document.querySelector('.post-podcast-player'),
                                audio: {
                                    title: "<%= page.title %>",
                                    artist: "<%= page.podcast.authors %>",
                                    cover: "<%= page.podcast.cover %>",
                                    src: "<%= page.podcast.media.url %>"
                                },
                                fixed: {
                                    type: "auto",
                                    position: "bottom"
                                },
                                themeColor: "red"
                            });
                            window.player = player;
                        }, false);
                    </script>
                <% } %>
                <section class="content is-size-6">

                    <%- page.content %>

                    <!-- Add podcast authors -->
                    
                    <% if (page.podcast && page.podcast.authors) { %>
                        <h3><%= __('authors') %>: </h3>
                        <ul>
                            <% (page.podcast.authors).forEach(function(author) { %>
                                <li><%= author %></li>
                            <% }); %> 
                        </ul>
                    <% } %>  
                    
                    <!-- Add podcast chapters -->
                    <% if (page.podcast && page.podcast.chapters) { %>
                        <h3><%= __('timeline') %>: </h3>
                        <ul>
                            <% (page.podcast.chapters).forEach(function(item) { %>
                                <%
                                    const title = item[0];
                                    const timestamp = item[1];
                                    const hour = Math.floor(timestamp / 3600);
                                    const minute = Math.floor((timestamp / 60) % 60);
                                    const second = Math.floor(timestamp % 60);
                                    const viewstr = String(hour).padStart(2, '0') + ':' + String(minute).padStart(2, '0') + ':' + String(second).padStart(2, '0');
                                %> 
                                <li class="is-family-monospace"><a href="#t=<%= viewstr %>" onclick="eval('player.seek(<%= timestamp %>)')"><%= viewstr %></a> <%= title %></li>
                            <% }); %>
                        </ul>
                    <% } %>

                    <!-- Add podcast references -->
                    <% if (page.podcast && page.podcast.references) { %>
                        <h3><%= __('references') %>: </h3>
                        <ul>
                            <% (page.podcast.references).forEach(function(item) { %>
                                <li><a href="<%= item[1] %>" rel="noopener"><%= item[0] %></a></li>
                            <% }); %>
                        </ul>
                    <% } %>

                </section>
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <% if (page.tags) { %>
                                <div class="tags">
                                    <% (page.tags).forEach(function(item) { %>
                                        <span class="tag"># <%= item.name %></span>
                                        <% }); %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>