<div class="columns">
    <div class="column is-8 is-offset-2">
        <div class="card">
            <% if (page.thumbnail) { %>
                <div class="card-iamge">
                    <figure class="image is-16by9">
                        <% if (theme.lazyload === true) { %>
                            <img class="lazy" data-src="<%= page.thumbnail %>" />
                        <% } else { %>
                            <img src="<%= page.thumbnail %>" />
                        <% } %>
                    </figure>
                </div>
            <% } %>
            <div class="card-content post-card">
                <h2 class="title has-text-centered">
                    <%= page.title %>
                </h2>
                <% if (page.podcast) { %>
                    <div class="post-podcast-player"></div>
                    <script>
                        window.addEventListener("load", () => {
                            const player = new Shikwasa({
                                container: () => document.querySelector('.post-podcast-player'),
                                audio: {
                                    title: "<%= page.title %>",
                                    artist: "<%= page.podcast.authors %>",
                                    cover: "<%= page.podcast.cover %>",
                                    src: "<%= page.podcast.media.url %>"
                                },
                                fixed: {
                                    type: "auto",
                                    position: "bottom"
                                },
                                themeColor: "red"
                            });
                            window.player = player;
                        }, false);
                    </script>
                <% } %>
                <section class="content is-size-6">
                    <%- page.content %>
                </section>
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <% if (page.tags) { %>
                                <div class="tags">
                                    <% (page.tags).forEach(function(item) { %>
                                        <span class="tag"># <%= item.name %></span>
                                        <% }); %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>