<head>
    <%
        let title = config.title;
        if (page.title !== undefined) {
            if (!is_home()) title = page.title + ' | ' + title;
        }
    %>
    <title><%= title %></title>
    <% if (theme.favicon) { %>
        <%- favicon_tag(theme.favicon) %> 
    <% } %>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Making Tim Cook Happy -->
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Making Robots Happy -->
    <% if (config.keywords) { %>
        <meta name="keywords" content="<%= config.keywords %>">
    <% } %>
    <% if (config.description) { %>
        <meta name="description" content="<%= config.description %>">
    <% } %>

    <!-- RSS Autodiscovery -->
    <% if (theme.rss.enable) { %> 
        <link rel="alternate" href="<%= theme.rss.path %>" type="application/rss+xml">
    <% } %>

    <!-- Scripts and styles -->
    <%- css('css/style.min.css') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma/css/bulma.min.css">
    <link media="(prefers-color-scheme: dark)" rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jloh/bulma-prefers-dark/css/bulma-prefers-dark.min.css">
</head>